* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  font-family: sans-serif;
}
.Layout {
  min-height: 100vh;

  background: linear-gradient(84.88deg, #2ebec6 0%, #31196d 100%);
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgba(255, 255, 255, 0);
  font-family: "Poppins", sans-serif;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  margin:0;
  width: 30%;
}
.nav-links a{
  position: relative;
  top:25%;
  color: white;
  text-decoration: none;
  margin-top: 20px;
  
}
.nav-links li {
  list-style: none;
  text-align: center;
}

.activeNav {
  width: 120px;
  height: 44px;
  background: linear-gradient(270deg, #5ebabf 0%, #bfaeea 92.86%);
  border-radius: 10px;
  vertical-align: middle;
  transform: scale(1);
  animation: pulse 2s infinite;
 
}
.siteName{
   color:white;
   font-family: "Poppins", sans-serif;

}
.siteNameDiv{
    width: fit-content;
    margin-left: auto;
    margin-right:auto;
}
.circle-img-div{
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right:auto;
    top:250px;
}
.circle-img{
    width: 222px;
    height: 223px;
    border-radius: 50%;
}
   .linkedIn-svg{
    position:absolute;
    right: 47%;
    bottom: 10%;
   }
   .gitHub-svg{
    position:absolute;
    right: 50%;
    bottom: 10%;
   }
   svg path:hover{
    fill:black !important;
   }
@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
.introductionDiv{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    top:100px;
}
.introduction{
    color:white;
    font-family: "Poppins", sans-serif;
    
    text-align: center;
    margin:0;
}
.Minesweeper,.Itunes-Library,.Drone-Flight-Planner{
    min-height: 55vh;
    display: flex;
    justify-content: center;
    padding-top: 50px;  
    padding-bottom: 50px;  
}
.left-container{

flex: 2 1 0;
}
.right-container{
    flex: 1 1 0;
    justify-content: center;
    align-self:center;
    align-items: center;
}
.carousel-img{
    width: fit-content;
    margin-left:auto;
    margin-right: auto;
    height: fit-content;
   
}


.carousel-caption h3,p{
  margin:0;
}
.carousel-caption{
  right:0;
  left: 0;
  position: relative;
  height: 100%;
  width: fit-content;
  margin-left:auto;
  margin-right: auto;
  font-family: "Poppins", sans-serif;
  color: white;
}
.carousel{
    height: 100%;
}
.img-carousel img{
  height:100%;
  width:100% ;
  max-width: 890px;
  object-fit: contain; 
}
.carousel-indicators{
  margin-bottom: 0;
}
.carousel-item{
  height:100%;
}
.right-text p,h4{
  color:white;
  font-family: "Poppins", sans-serif;
  text-align: left;
  padding-right:25px;
}
.right-text{
    align-items: center;
}

.skills-grid{
  display: grid;
  grid-auto-columns:minmax(min-content, max-content);
  grid-auto-rows: minmax(min-content, max-content);
  margin:0 auto;
}
.skills-grid{
  grid-template: 
  "fig1 fig2 fig3"
  "fig4 fig5 fig6";
}
.skill.html{
  grid-area:fig1;
}
.skill.css{
  grid-area:fig2;
}
.skills.js{
  grid-area:fig3;
}
.skills.react{
  grid-area:fig4;
} 
 
.skills.node{
  grid-area:fig5;
}
.skills.git{
  grid-area:fig6;
}
.skill.html,.css,.js,.react,.node,.git{
  
  position: relative;
  height: calc(300px - 60px);
  width: calc(300px - 60px);
  margin:15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 50%;
  justify-content: center;
}
.icon{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(270.33deg, #0DFFD3 15.36%, #00A3FF 80.95%);
}
.fab{
   font-size:8em;
  color:white;
}
.icon-holder{
  width: fit-content;
  height: fit-content;
}
.skills-container{
  width: fit-content;
  margin-right:auto;
  margin-left:auto;
}
.skill:hover .icon {
  top: 20px;
  left: calc(50% - 40px);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  transition: .5s all;
 
}

.skill:hover .icon .fab {
  font-size: 3em;
}